.dreamcatcher-bg {
    background-image: url("https://imgix.ttcdn.co/i/product/original/0/574987-06f26b9871754db5a6738431e3871af3.jpeg?quality=90&width=480&bg-color=fff&auto=webp&fit=bounds&fm=jpeg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: right;
    background-color:white;
  }
  
  .inspiration input.btn {
    border: 0;
    display: inline;
    padding: 0.5em;
    background: #a5f883;
    color: #003a61;
    margin-left: 4em;
    font-size: 36px;
    cursor: pointer;
    font-family: 'Bad Script', cursive;
    color: #141512;
    font-size: 20px;
  }
  .dreams {
    margin-right: 350px;
    max-width: 862px;
  }
  
  text-line {
    display: inline !important;
  }
  
  .inspiration {
    width: 800px;
  }
  ul{
    width: inherit;
    list-style-type: square;
    height: 100px;
  }
  li {
    display: list-item;
    color:  #141512;
    list-style-position: inside;
    list-style-type: square;
    margin-top: 10px;
  }
  