<div class="bg dreamcatcher-bg">
  <div class="content-left">
    <h1>CATCH EVERY DREAM!</h1>
    <h3>What do you dream about?</h3>
    <p class="dreams">Every single human has dreams. Or used to have them as a child. Why not pause a bit and think about what you wish
      to complete within the short timespan we have on this planet?
      Our app is designed to help you focus on what you want, not on what you should! It will remind you of just how much you can do, learn, create, enjoy!</p>
    <div class="examples">
      <h3>Here are examples of what you could use our app for:</h3>
      <ul class="dreams">
        <li>tracking life goals, desires, dreams</li>
        <li>storing inspiring images and quotes</li>
        <li>visualizing how close you are to every goal</li>
        <li>getting new inspirations from our friendly chatbot</li>
      </ul>
    </div>
    <div class="inspiration">
      <h1>Be bold. Don't limit yourself.</h1>
      <input type="submit" class="back-home btn" value="Catch your dreams!" (click)="sendMeHome()">
    </div>
  </div>
</div>
