<div class="creator-widget wrapper">
  <form id="newgoal" autocomplete="off">
    <div class="goal">
        I want to
        <input type="text" class="txt" name="item" [(ngModel)]="goalText">
    </div>
    <input type="submit" class="btn add" value="Add dream" align="right" (click)="addItem()">
    <input type="submit" class="btn load" value="Load dreams from file" align="left" (click)="openModal()">
  </form>
  <modal id="file-upload-modal">
      <div class="modal">
          <div class="modal-body">
              <h1 align="center">Upload dream list from a file!</h1>
              <p>You can upload a list of your dreams from a text file. The file has a special format and 
                 is supposed to have been generated when you downloaded your last set of dreams from the 
                 "My dreams" page of this website.
              </p>
              <form>
                  <label for="dreams-upload" class="custom-file-upload">
                    Choose file
                  </label>
                  <span id="file-selected"></span>
                <input id="dreams-upload" type="file" accept=".csv" (change)="fileChangeEvent($event)" />
                <button type="button" (click)="upload()">Add dreams!</button>
              </form>
          </div>
      </div>
      <div class="modal-background"></div>
  </modal>
</div>