img {
    width: 160px;
    height: 160px;
}

input {
    display: block;
    border: 0;
    background: #a5f883;
    color: #003a61;
    font-size: 16px;
    cursor: pointer;
    color: #141512;
    font-size: 20px;
    width: 100%;
}